{% extends 'page.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">
    Fähigkeiten
</li>
{% endblock %}

{% block pageContent %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron" style="background-image: url(/images/header/eilbekpark.jpg)">
            <h1 class="display-4">
                Das mache ich
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <p>
            Ich baue flexible und schnelle Webanwendungen mit Symfony. Das Symfony-Framework nutze ich schon seit Version 1, als ich für eine Schülerfirma während des Abiturs einige Webseiten zusammenlötete. Ich mache mir gerne Gedanken über Softwarearchitektur und arbeite an flexiblen Lösungen, anstatt einen riesigen Monolithen durch die Gegend zu schieben.
        </p>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 col-md-8 offset-md-2 text-center">
        <h4>
            Technologien
        </h4>

        <p class="lead">
            Ich habe Erfahrungen mit folgenden Themen:
        </p>

        <ul class="list-inline">
            {% for skill in skills %}
                <li class="list-inline-item">
                    {{ skill }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
