{% extends 'page.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">
    Fähigkeiten
</li>
{% endblock %}

{% block pageContent %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron" style="background-image: url(/images/header/hafencity.jpg)">
            <h1 class="display-4">
                Das mache ich
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <p>
            foo bar baz
        </p>
    </div>
</div>
{% endblock %}
