{% extends 'page.html.twig' %}

{% set headerImage = 'hansa-park.jpg' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">
    Impressum
</li>
{% endblock %}

{% block pageContent %}
<div class="row">
    <div class="col-12">
        <h1>
            Impressum
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p>
            Angaben gemäß § 5 TMG:
        </p>

        <p>
            Malte Hübner
            <br />
            Mühlenaustieg 10
            <br />
            22523 Hamburg
        </p>

        <p>
            E-Mail: <a href="mailto:maltehuebner@gmx.org">maltehuebner@gmx.org</a>
            <br />
            Telefon: 0700 11 864 833
        </p>
    </div>
</div>
{% endblock %}
