{% extends 'layout.html.twig' %}

{% set bodyId = 'frontpage' %}

{% block bodyContent %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-4 m-t-3">
            <div class="row">
                <div class="col-12">
                    <img src="/images/malte.jpg" class="img-circle center-block" id="maltehuebner" />
                </div>
            </div>

            <div class="row m-t-2">
                <div class="col-12">
                    <h1 class="text-xs-center">
                        Hej, ich bin Malte!
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p class="lead text-xs-center">
                        Ich habe Medieninformatik studiert, arbeite mit Symfony2, mag Leaflet und Geografie, fahre gerne Fahrrad und fotografiere hin und wieder.
                    </p>
                </div>
            </div>

            <div class="row m-t-1">
                <div class="col-12">
                    <h3 class="text-xs-center">
                        <i class="fa fa-file-text-o"></i>
                        <a href="{{ path('page', { slug: 'lebenslauf' }) }}">
                            Lebenslauf
                        </a>
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p class="text-xs-center">
                        Von 1988 bis heute: Mein Leben als ausführliche Langversion oder <a href="{{ path('page', { slug: 'lebenslauf-kurz' }) }}">übersichtliche Tabelle</a>.
                    </p>
                </div>
            </div>

            <div class="row m-t-1">
                <div class="col-12">
                    <h3 class="text-xs-center">
                        <i class="fa fa-bicycle"></i>
                        <a href="{{ path('page', { slug: 'projekte' }) }}">
                            Projekte
                        </a>
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p class="text-xs-center">
                        Was ich außer Radfahren und Symfony so treibe.
                    </p>
                </div>
            </div>

            <div class="row m-t-1">
                <div class="col-12">
                    <h3 class="text-xs-center">
                        <i class="fa fa-graduation-cap"></i>
                        <a href="{{ path('page', { slug: 'studium' }) }}">
                            Studium
                        </a>
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p class="text-xs-center">
                        Übersicht über sechs Jahre Informatik am Elbhochufer.
                    </p>
                </div>
            </div>

            <div class="row m-t-1">
                <div class="col-12">
                    <h3 class="text-xs-center">
                        <i class="fa fa-check"></i>
                        Fähigkeiten
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <ul class="list-inline text-xs-center">
                        <li class="list-inline-item">
                            QF-Test
                        </li>
                        <li class="list-inline-item">
                            Oberflächentests
                        </li>
                        <li class="list-inline-item">
                            Wordpress
                        </li>
                        <li class="list-inline-item">
                            PHP
                        </li>
                        <li class="list-inline-item">
                            MySQL
                        </li>
                        <li class="list-inline-item">
                            Java
                        </li>
                        <li class="list-inline-item">
                            Jenkins
                        </li>
                        <li class="list-inline-item">
                            Radfahren
                        </li>
                        <li class="list-inline-item">
                            Radverkehrspolitik
                        </li>
                        <li class="list-inline-item">
                            Critical Mass
                        </li>
                        <li class="list-inline-item">
                            Fotografie
                        </li>
                        <li class="list-inline-item">
                            Informatik
                        </li>
                        <li class="list-inline-item">
                            Medieninformatik
                        </li>
                        <li class="list-inline-item">
                            Computergrafik
                        </li>
                        <li class="list-inline-item">
                            HTML5
                        </li>
                        <li class="list-inline-item">
                            CSS3
                        </li>
                        <li class="list-inline-item">
                            Linux
                        </li>
                        <li class="list-inline-item">
                            Apache
                        </li>
                        <li class="list-inline-item">
                            nginx
                        </li>
                        <li class="list-inline-item">
                            Adobe Photoshop
                        </li>
                        <li class="list-inline-item">
                            Journalismus
                        </li>
                        <li class="list-inline-item">
                            Testlink
                        </li>
                        <li class="list-inline-item">
                            Selenium
                        </li>
                        <li class="list-inline-item">
                            JBehave
                        </li>
                        <li class="list-inline-item">
                            SonarQube
                        </li>
                        <li class="list-inline-item">
                            jQuery
                        </li>
                        <li class="list-inline-item">
                            Cucumber
                        </li>
                        <li class="list-inline-item">
                            JavaScript
                        </li>
                        <li class="list-inline-item">
                            Jira
                        </li>
                        <li class="list-inline-item">
                            Confluence
                        </li>
                        <li class="list-inline-item">
                            git
                        </li>
                        <li class="list-inline-item">
                            Geolocation
                        </li>
                        <li class="list-inline-item">
                            OpenStreetMap
                        </li>
                        <li class="list-inline-item">
                            Bootstrap
                        </li>
                        <li class="list-inline-item">
                            Leaflet
                        </li>
                        <li class="list-inline-item">
                            NodeJs
                        </li>
                        <li class="list-inline-item">
                            Express.js
                        </li>
                        <li class="list-inline-item">
                            SASS
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
