{% extends 'page.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">
    Lebenslauf
</li>
{% endblock %}

{% block pageContent %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron" style="background-image: url(/images/header/wedel.jpg)">
            <h1 class="display-4">
                Hej, ich bin’s!
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3>
            Berufserfahrung
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-primary float-right" type="button" data-toggle="collapse" data-target="#collapse-blg" aria-expanded="false" aria-controls="collapse-blg">
                    <i class="fas fa-plus"></i>
                </button>

                <h5 class="card-title">
                    Bornholdt Lee GmbH
                </h5>

                <p class="card-text">
                    <small class="text-muted">
                        Software-Entwickler, seit April 2016
                    </small>
                </p>

                <ul class="collapse" id="collapse-blg">
                    <li>
                        Mitarbeit in unterschiedlichen Projekten auf Basis von Symfony und Wordpress
                    </li>
                    <li>
                        Umsetzung neuer Layouts in Wordpress-Themes mit Bootstrap, Materialize und anderen Frameworks
                    </li>
                    <li>
                        Implementierung von Unit- und Functional-Tests
                    </li>
                    <li>
                        Vorträge über diverse Technologie-Themen wie Symfony 4, Wordpress, Objektorientierte Programmierung und elasticsearch
                    </li>
                    <li>
                        Kundenberatung zur Auswahl von Technologien passend zum jeweiligen Einsatzzweck
                    </li>
                    <li>
                        Implementierung einheitlicher Prozesse innerhalb des Web-Teams
                    </li>
                    <li>
                        Durchführung manueller Regressionstests
                    </li>
                    <li>
                        Erfassung und Verwaltung von Softwarefehlern mit JIRA
                    </li>
                    <li>
                        Durchführung von Deployments der Symfony- und Wordpress-Anwendungen
                    </li>
                    <li>
                        Konfiguration unterschiedlicher Serversysteme, teilweise mit Plesk
                    </li>
                    <li>
                        Evaluierung neuer Werkzeuge für den Webbereich
                    </li>
                    <li>
                        Konzeption der Software-Architektur
                    </li>
                    <li>
                        Anbindung bestehender Softwaresysteme an verschiedene Payment-Anbieter
                    </li>
                    <li>
                        Aufbau von REST-Apis als Schnittstelle für die Mobile-Teams
                    </li>
                    <li>
                        Implementierung von Backendsystemen mit NodeJs und Websockets
                    </li>
                    <li>
                        Konzeption eines betriebsweiten Loggingsystemes mit Graylog und eines Monitoringsystemes mit Zabbix für den Webbereich
                    </li>
                </ul>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <button class="btn btn-primary float-right" type="button" data-toggle="collapse" data-target="#collapse-hcu" aria-expanded="false" aria-controls="collapse-hcu">
                    <i class="fas fa-plus"></i>
                </button>

                <h5 class="card-title">
                    HealthCare United GmbH
                </h5>

                <p class="card-text">
                    <small class="text-muted">
                        Software-Entwickler, Juni 2015 bis März 2016
                    </small>
                </p>

                <ul class="collapse" id="collapse-hcu">
                    <li>
                        Weiterentwicklung des bestehenden Jobsuche-Portals auf Symfony-Basis
                    </li>
                    <li>
                        Optimierung der Suchanfragen mit elasticsearch
                    </li>
                    <li>
                        Implementierung eines neuen Layouts mit Bootstrap
                    </li>
                    <li>
                        Implementierung zusätzlicher Anbindung anderer Portale zur Einbindung weiterer Stellenangebote
                    </li>
                    <li>
                        Payment-Integration
                    </li>
                    <li>
                        umfangreiches Refactoring der Anwendung
                    </li>
                    <li>
                        Wartung, Gestaltung und Suchmaschinenoptimierung der dazugehörigen Wordpress-Installation
                    </li>
                    <li>
                        Implementierung automatischer Oberflächentests mit Selenium 2
                    </li>
                    <li>
                        Ingegration von Zoho CRM und Mailchimp
                    </li>
                </ul>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <button class="btn btn-primary float-right" type="button" data-toggle="collapse" data-target="#collapse-jimdo" aria-expanded="false" aria-controls="collapse-jimdo">
                    <i class="fas fa-plus"></i>
                </button>

                <h5 class="card-title">
                    Jimdo GmbH
                </h5>

                <p class="card-text">
                    <small class="text-muted">
                        Software-Entwickler, April 2015 bis Mai 2015<br />
                        Werkstudent QA, September 2014 bis März 2015
                    </small>
                </p>

                <ul class="collapse" id="collapse-jimdo">
                    <li>
                        Migration der bestehenden Continuous-Deployment-Pipeline auf ein umfangreiches Jenkins-Setup mit dem Groovy-basierten JobDSL, Puppet und Amazon Webservices
                    </li>
                    <li>
                        Wartung der Jenkins-Installationen, Anpassungen der Pipelines an die einzelnen Projektanforderungen
                    </li>
                    <li>
                        Wartung und Anpassung vorhandener Cucumber-Tests
                    </li>
                    <li>
                        Erfassung und Verwaltung von Tickets im QA-Bereich
                    </li>
                    <li>
                        Durchführung regelmäßiger Release-Tests
                    </li>
                    <li>
                        Beratung der Projektteams zur Optimierung der Testbarkeit ihrer Anwendungen
                    </li>
                    <li>
                        Mitarbeit an unterschiedlichen Projekten im Bereich der Automatisierung mit PHP, Golang und JavaScript
                    </li>
                </ul>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <button class="btn btn-primary float-right" type="button" data-toggle="collapse" data-target="#collapse-parship" aria-expanded="false" aria-controls="collapse-parship">
                    <i class="fas fa-plus"></i>
                </button>

                <h5 class="card-title">
                    Parship GmbH
                </h5>

                <p class="card-text">
                    <small class="text-muted">
                        Werkstudent QA, Juli 2013 bis August 2014
                    </small>
                </p>

                <ul class="collapse" id="collapse-parship">
                    <li>
                        Aufbau automatisierter Oberflächentests mit JBehave und Selenium 1
                    </li>
                    <li>
                        Evaluierung unterschiedlicher Werkzeuge für automatisierte Oberflächentests
                    </li>
                    <li>
                        Migration sämtlicher Oberflächentests auf Selenium 2
                    </li>
                    <li>
                        Regelmäßige Durchführung manueller Regressionstests
                    </li>
                    <li>
                        Implementierung von Unit- und Functional-Tests
                    </li>
                    <li>
                        Erfassung und Verwaltung von Softwarefehlern mit JIRA
                    </li>
                    <li>
                        Erstellung von Testplänen mit Testlink
                    </li>
                    <li>
                        Beratung der Projektteams zur Optimierung der Testbarkeit ihrer Anwendungen
                    </li>
                    <li>
                        Erfassung von Qualitätsmetriken mit SonarQube
                    </li>
                    <li>
                        Fotografische Dokumentation von Firmenevents
                    </li>
                </ul>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <button class="btn btn-primary float-right" type="button" data-toggle="collapse" data-target="#collapse-icans" aria-expanded="false" aria-controls="collapse-icans">
                    <i class="fas fa-plus"></i>
                </button>

                <h5 class="card-title">
                    ICANS GmbH
                </h5>

                <p class="card-text">
                    <small class="text-muted">
                        Werkstudent QA, April 2012 bis Februar 2013<br />Praktikant QA, März 2013 bis Mai 2013
                    </small>
                </p>

                <ul class="collapse" id="collapse-icans">
                    <li>
                        Aufbau automatisierter Oberflächentests mit QF-Test
                    </li>
                    <li>
                        Regelmäßige Durchführung manueller Regressionstests
                    </li>
                    <li>
                        Erfassung und Verwaltung von Softwarefehlern mit Bugzilla
                    </li>
                    <li>
                        Erstellung manueller Testpläne für Release-Tests
                    </li>
                    <li>
                        Aufbau eines Continuous-Deployment-Systems für die unterschiedlichen Projektteams
                    </li>
                    <li>
                        Dokumentation der Release-Prozesse
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
