{% extends 'page.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{{ path('page', { slug: 'lebenslauf' }) }}">
        Lebenslauf
    </a>
</li>
<li class="breadcrumb-item active">
    tl;dr
</li>
{% endblock %}

{% block pageContent %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron" style="background-image: url(/images/header/amsterdam.jpg)">
            <h1 class="display-4">
                tl;dr
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p class="lead">
            Mein Leben als kurze Zusammenfassung.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-4">
        <h3>
            Leben
        </h3>

        <table class="table">
            <tbody>
                <tr>
                    <td>
                        geboren
                    </td>
                    <td>
                        im Herbst 1988 in Rendsburg, Schleswig-Holstein
                    </td>
                </tr>
                <tr>
                    <td>
                        Eltern
                    </td>
                    <td>
                        Magdalena Kobold-Hübner, Studienrätin
                        <br />
                        Rainer Hübner, Oberstudienrat
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-12 col-md-4">
        <h3>
            Bildung
        </h3>

        <div class="card">
            <img class="card-img-top" src="/images/cv/master.jpg" alt="Fachhochschule Wedel" />
            <div class="card-body">
                <h5 class="card-title">
                    IT-Sicherheit und Informatik
                </h5>

                <p class="card-text">
                    This card has supporting text below as a natural lead-in to additional content.
                </p>

                <p class="card-text">
                    <small class="text-muted">
                        2014 bis 2015
                    </small>
                </p>
            </div>
        </div>

        <div class="card mt-2">
            <img class="card-img-top" src="/images/cv/bachelor.jpg" alt="Fachhochschule Wedel" />
            <div class="card-body">
                <h5 class="card-title">
                    Medieninformatik
                </h5>

                <p class="card-text">
                    This card has supporting text below as a natural lead-in to additional content.
                </p>

                <p class="card-text">
                    <small class="text-muted">
                        2009 bis 2014
                    </small>
                </p>
            </div>
        </div>

        <div class="card mt-2">
            <img class="card-img-top" src="/images/cv/gymnasium-kronwerk.jpg" alt="Gymnasium Kronwerk" />
            <div class="card-body">
                <h5 class="card-title">
                    Gymnasium-Kronwerk
                </h5>

                <p class="card-text">
                    This card has supporting text below as a natural lead-in to additional content.
                </p>

                <p class="card-text">
                    <small class="text-muted">
                        1999 bis 2008
                    </small>
                </p>
            </div>
        </div>

        <div class="card mt-2">
            <img class="card-img-top" src="/images/cv/friedrich-ebert-schule.jpg" alt="Friedrich-Ebert-Schule" />
            <div class="card-body">
                <h5 class="card-title">
                    Friedrich-Ebert-Grundschule
                </h5>

                <p class="card-text">
                    This card has supporting text below as a natural lead-in to additional content.
                </p>

                <p class="card-text">
                    <small class="text-muted">
                        1995 bis 1999
                    </small>
                </p>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <h3>
            Arbeit
        </h3>

        <div class="card mt-2">
            <img class="card-img-top" src="/images/cv/bornholdtlee.jpg" alt="Bornholdt Lee GmbH" />
            <div class="card-body">
                <h5 class="card-title">
                    Bornholdt Lee GmbH
                </h5>

                <p class="card-text">
                    Software-Entwickler bei der Bornholdt Lee GmbH, Hamburg
                </p>

                <p class="card-text">
                    <small class="text-muted">
                        seit April 2016
                    </small>
                </p>
            </div>
        </div>

        <div class="card mt-2">
            <img class="card-img-top" src="/images/cv/healthcare-united.jpg" alt="HealthCare United GmbH & Co. KG" />
            <div class="card-body">
                <h5 class="card-title">
                    HealthCare United GmbH & Co. KG
                </h5>

                <p class="card-text">
                    Software-Entwickler bei der HealthCare United GmbH & Co. KG, Hamburg
                </p>

                <p class="card-text">
                    <small class="text-muted">
                        Juni 2015 bis März 2016
                    </small>
                </p>
            </div>
        </div>

        <div class="card mt-2">
            <img class="card-img-top" src="/images/cv/jimdo.jpg" alt="Jimdo GmbH" />
            <div class="card-body">
                <h5 class="card-title">
                    Jimdo GmbH
                </h5>

                <p class="card-text">
                    Werkstudent bei der Jimdo GmbH, Hamburg
                </p>

                <p class="card-text">
                    <small class="text-muted">
                        September 2014 bis Mai 2015
                    </small>
                </p>
            </div>
        </div>

        <div class="card mt-2">
            <img class="card-img-top" src="/images/cv/parship.jpg" alt="PARSHIP GmbH" />
            <div class="card-body">
                <h5 class="card-title">
                    PARSHIP GmbH
                </h5>

                <p class="card-text">
                    Werkstudent bei der PARSHIP GmbH, Hamburg
                </p>

                <p class="card-text">
                    <small class="text-muted">
                        Juni 2013 bis August 2014
                    </small>
                </p>
            </div>
        </div>

        <div class="card mt-2">
            <img class="card-img-top" src="/images/cv/icans.jpg" alt="ICANS GmbH" />
            <div class="card-body">
                <h5 class="card-title">
                    ICANS GmbH
                </h5>

                <p class="card-text">
                    Praktikant bei der ICANS GmbH, Hamburg
                </p>

                <p class="card-text">
                    <small class="text-muted">
                        April 2013 bis Mai 2013
                    </small>
                </p>
            </div>
        </div>


        <div class="card mt-2">
            <img class="card-img-top" src="/images/cv/icans2.jpg" alt="ICANS GmbH" />
            <div class="card-body">
                <h5 class="card-title">
                    ICANS GmbH
                </h5>

                <p class="card-text">
                    Werkstudent bei der ICANS GmbH, Hamburg
                </p>

                <p class="card-text">
                    <small class="text-muted">
                        April 2012 bis März 2013
                    </small>
                </p>
            </div>
        </div>

        <div class="card mt-2">
            <img class="card-img-top" src="/images/cv/kronwerk.jpg" alt="Fachhochschule Wedel" />
            <div class="card-body">
                <h5 class="card-title">
                    United Colors sGmbH
                </h5>

                <p class="card-text">
                    Geschäftsführer und Entwickler in der Schülerfirma „United Colors GmbH“
                </p>

                <p class="card-text">
                    <small class="text-muted">
                        2007 bis 2008
                    </small>
                </p>
            </div>
        </div>

        <div class="card mt-2">
            <img class="card-img-top" src="/images/cv/landeszeitung.jpg" alt="Fachhochschule Wedel" />
            <div class="card-body">
                <h5 class="card-title">
                    Schleswig-Holsteinischer Zeitungsverlag
                </h5>

                <p class="card-text">
                    Freier Mitarbeiter der Schleswig-Holsteinischen Landeszeitung
                </p>

                <p class="card-text">
                    <small class="text-muted">
                        2005 bis 2010
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
