{% extends 'page.html.twig' %}

{% set headerImage = 'wedel.jpg' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">
    Lebenslauf
</li>
{% endblock %}

{% block pageContent %}
<div class="row">
    <div class="col-12">
        <div class="alert alert-info" role="alert">
            <strong>
                Zu wenig Zeit?
            </strong>
            Hier geht’s zum <a href="{{ path('page', { slug: 'lebenslauf-kurz' }) }}" title="Tabellarischen Lebenslauf lesen">tabellarischen Lebenslauf</a>.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p>
            Eigentlich heiße ich Malte Daniel Hübner &ndash; mein zweiter Vorname hat sich glücklicherweise nicht durchgesetzt, also werde ich einfach Malte gerufen. Wenn man mich ärgern möchte, schreibt man Malte Daniel noch mit Bindestrich. Geboren wurde ich im Herbst 1988 in Rendsburg. Trotz der Lage im schönen Schleswig-Holstein zählt „schön“ nicht unbedingt zu den wichtigsten Attributen dieser Stadt — dennoch hielt es mich knapp zwanzig Jahre im benachbarten Büdelsdorf. Meine Karriere war zunächst betont unauffällig: im Kindergarten fiel ich vor allem beim Singen mit bemerkenswert wenig Talent auf, das sich trotz redlicher Bemühungen in der Grundschule nicht wesentlich besserte. Beim Malen stellte ich mich ähnlich geschickt an und beim Basteln ist es schon als Erfolg zu verbuchen, dass ich mir nicht die Finger abgeschnitten habe.
        </p>
        <p>
            <a class="fancybox" rel="group" href="/images/full-size/computer.jpg">
                <img class="img-fluid img-rounded img-thumbnail center-block" src="/images/resized/computer.jpg" alt="Malte am Rechner" style="width: 33%;" />
            </a>
        </p>
        <p>
            Stattdessen galt ich schon damals, aus einem mir nicht bekannten Grunde, als Computerfreak. Das lag nicht etwa an einer Bewegungsarmut mit wenigen Sozialkontakten, sondern eher an meinem damaligen Interesse an Computern. Zum Schrauber und Hardware-Experten hat es bis heute nicht gereicht, weil mich das Schicksal mit zwei linken Händen und zehn Daumen ausgestattet hat, zum Tippen ist die Konfiguration allerdings ideal. Tatsächlich programmiere ich schon, seit ich denken kann.
        </p>
        <p>
            Den Anfang machte ich mit der Programmierumgebung Delphi, die damals aus dem Hause Borland stammte. Ich kann mich noch erinnern, dass ich mir beim Zähneputzen über die Berechnung der Flugbahn eines Paketes Gedanken machte, das ich von einem vorbeifliegenden Flugzeug abwerfen wollte. Die anschließende Lösung, aus Arbeitseifer noch immer mit der Zahnbürste im Mund in den Quellcode geschrieben, war sicherlich nicht physikalisch korrekt, aber angesichts der Tatsache, dass ich erst die zweite oder dritte Klasse besuchte, durchaus eindrucksvoll. Die ganze Sache hatte auch schon damals einen tollen Vorteil: Ich war der einzige in meinem Freundeskreis, der wusste, wie man bei diesen selbstgebauten Spielen gewinnen konnte.
        </p>
        <p>
            Es folgten eine ganze Reihe von mehr oder weniger eindrucksvollen Spielen und sogar der Versuch einer kleinen Office-Suite, die immerhin noch jahrelang für den Heimgebrauch taugte, eine wesentliche Verbreitung innerhalb meines Freundeskreises allerdings an der Inkompatibilität zu Microsoft Office scheiterte. Trotz des relativ geringen Umfanges von vielleicht fünftausend Codezeilen lernte ich schon damals den Nutzen von Funktionen und Prozeduren, um den Quellcode überhaupt noch Handhaben zu können.
        </p>
        <p>1999 wechselte ich von der Friedrich-Ebert-Grundschule in Büdelsdorf auf das Gymnasium Kronwerk in Rendsburg. Das war im Nachhinein nicht die allerklügste Entscheidung, weil meine Eltern dort unterrichteten und ich mir als Lehrerkind keine Späße erlauben konnte, ohne mich dafür beim Mittagessen zu rechtfertigen. Um diese Zeit wurde unser Haus endlich an das Breitband-Internet angeschlossen, so dass ich bei der Suche nach Tutorials und Hilfestellungen nicht mehr die Telefonleitung blockieren und den piependen Lautsprecher des Modems abzwicken musste, damit die Mittagsruhe nicht gestört wurde.</p>
        <p>
            <a class="fancybox" rel="group" href="/images/full-size/huerdenlauf.jpg">
                <img class="img-fluid img-rounded img-thumbnail center-block" src="/images/resized/huerdenlauf.jpg" alt="Hürdenlauf" style="width: 33%;">
            </a>
        </p>
        <p>
            Der brauchbare Internetzugang verlagerte meine Interessen schnell ins Netz, wo ich mich, wie viele andere Jugendliche zu der Zeit, an einer eigenen Internetseite versuchte. So richtig wurde daraus nichts, weil ich zeitgleich die Leichtathletik für mich entdeckte, nachdem ich für Fußball nicht zu begeistern war. Mit meiner für mein Alter überdurchschnittlichen Körpergröße stand ich gleich beim ersten Wettbewerb ohne nennenswertes Training auf dem obersten Podest.
        </p>
        <p>
            Meine ersten Gehversuche im Netz, etwa im Jahr 2002, blieben hingegen deutlich hinter den eigenen Erwartungen zurück und sind glücklicherweise in den unendlichen Weiten des Netzes verschwunden. Etwa zu der Zeit befasste ich mich mit der Einstiegsdroge der dynamischen Webseiten und baute ein ziemlich simples Gästebuch mit Datenbankanbindung. Leider brachten meine Mitschüler dem Buch nicht die gleiche Begeisterung entgegen wie ich, also schrieb ich ein paar Tage später ein Skript, was aus einem vorgegebenen Wortschatz nette Botschaften zusammenstellte und in das Buch schrieb. Die Ergebnisse waren allerdings entsprechend wirr und ich hatte womöglich gerade einen der ersten Spamroboter gebaut &mdash; zu einer Zeit, in der E-Mails noch ohne Spamfilter gelesen werden konnten und Blogspam noch ein Fremdwort war. Damit allerdings niemand anders Vergnügen am Gästebuch-Spam fand, bastelte ich mir ein einfachen Captcha-Schutz, so dass zu jedem Beitrag die Zahl aus einer fotogafierten Hausnummer eingegeben werden musste &mdash; wohlgemerkt zu einer Zeit, in der dieser Begriff beinahe unbekannt war.
        </p>
        <p>
            Kurz darauf stieß ich auf ein ähnliches Gästebuch, das ganz offensichtlich meinen Captcha-Schutz nachgebaut hatte. Ich war zutiefst empört und versuchte einen Spamroboter zu basteln, der den fremden Captcha-Schutz überliesten konnte. Das klappte prima, weil der Dieb auch gleich meine Hausnummern geklaut hatte und ich die einzugebende Nummer einfach aus dem Dateinamen ablesen konnte. Ich fühlte mich für zwei oder drei Tage wie ein großer Hacker, bis der Dieb seine Digitalkamera schnappte und seine eigenen Hausnummern fotografierte. Bilderkennung war nun allerdings eine Disziplin, die ich &mdash; wenn überhaupt &mdash; erst viel später im Informatik-Studium lernen könnte.
        </p>
        <p>
            Nachdem ich ein eigenes Blogsystem zusammengebaut hatte, das sogar schon die Annehmlichkeiten von Track- und Pingbacks unterstützte, und mit Unmengen von Beiträgen füllte, entdeckte ich bald das Schreiben für mich. Mein erster „richtiger“ Beitrag über ein Weihnachtskonzert am Gymnasium Kronwerk fand umgehend den Weg in unsere Schülerzeitung, seitdem schrieb ich beinahe regelmäßig weitere Artikel und war vor allem mit meiner Kamera für die Bebilderung der Zeitung zuständig. Im Laufe der Zeit investierten wir unsere Werbeeinnahmen aus der Zeitung in einen farbigen Mantel und hochwertiges Papier und mit frischen Ideen und ausgefallenen Beiträgen wurden wir bald im Frühjahr 2007 zur besten Schülerzeitung Schleswig-Holsteins gekürt. Leider endete unsere Karriere recht bald, weil nicht einmal ein Jahr später das Abitur anstand. In meinem Weblog befasste ich mich dagegen weiterhin mit privaten Themen, schrieb über dieses, beschwerte mich über jenes, bis eines Tages mein Webserver zusammenbrach, nachdem <a href="https://www.netzpolitik.org/">Netzpolitik.org</a> auf einen Bericht eines Wahlkampfauftrittes der damals durchaus umstrittenen Familienministerin Ursula von der Leyen <a href="https://www.netzpolitik.org/2009/die-alte-dame-weint/">verlinkte</a>.
        </p>
        <p>
            <a class="fancybox" rel="group" href="/images/full-size/hohe-strasse.jpg">
                <img class="img-fluid img-rounded img-thumbnail center-block" src="/images/resized/hohe-strasse.jpg" alt="Hohe Straße" style="width: 33%;" />
            </a>
        </p>
        <p>
            Zeitgleich zur Schülerzeitung begann ich in der Jugendredaktion der Schleswig-Holsteinischen Landesleitung mitzuarbeiten. Mein erster, sehr kurzer Artikel erschien am 11. März 2005 und bescherte mir zuvor einige schlaflose Nächte vor Aufregung. Offenbar war ich beim Schreiben und Fotografieren hinreichend talentiert, denn binnen eines Jahres stieg ich in die Lokalredaktion auf und war vor allem auf Stadtfesten und ähnlichen Veranstaltungen mit der Kamera unterwegs. Über den Stundenlohn eines freien Mitarbeiter ließe sich trefflich streiten, aber mir machte die Arbeit nicht nur wegen der vielen unterschiedlichen Motive, sondern vor allem wegen der vielen unterschiedlichen Menschen Spaß, denn jeder Tag war wie ein neues Abenteuer. Unvergessen sind vor allem jene Abende, an denen weit nach dem eigentlichen Redaktionsschluss die Druckerei am Telefon nach den Druckdateien verlangte und mitten auf der Titelseite noch ein riesiges weißes Rechteck klaffte, dessen Ursprung sich niemand erklären konnte, das aber trotzdem binnen kürzester Zeit und mit vor Müdigkeit juckenden Augen gefüllt werden musste.
        </p>
        <p>
            Dass für die Schülerzeitung ein Jahr vor dem Abitur keine Zeit mehr blieb, hielt uns unvernünftigerweise nicht davon ab, eine Schülerfirma mit dem Namen „United Colors“ zu gründen. Die Firma war für ein Jahr angelegt und machte das, was wir inzwischen am besten konnten: Texte schreiben, Fotos schießen und Software programmieren. Parallel zum Unterricht entwickelten wir mehrere webbasierte Anwendungen, etwa eine Art Community für Schüler, ein Programm zur Verwaltung von Schulpraktika und ein Diskussionsforum mit einer umfangreichen Datei-Datenbank für selbsterstellte Unterrichtsmaterialien. Auch hier kamen neuste Technologien zum Einsatz, als AJAX noch ein gehyptes Buzzword war, denn Drag-and-Drop-Bedienung sowie das partielle Nachladen bestimmter Inhalte waren bei uns längst Standard.
        </p>
        <p>
            Grundlage war zunächst ein eigenes, relativ einfaches Framework, das automatisch Objekte aus Datenbankeinträgen generieren konnte. Später wurden die meisten Projekte auf die erste Version des ungleich leistungsfähigeren Frameworks Symfony portiert — der dadurch stark vereinfachte Arbeitsablauf ermöglichte überhaupt erst die Softwareentwicklung parallel zum Abitur. Als ich damals mit Symfony 1.0 herumprobierte, wusste ich noch gar nicht, wie man eine Webanwendung eigentlich vernünftig aufbaut. Meine Leistungskurse Deutsch und Physik spiegelten schon damals meine Interessen wieder. Zusätzlich zu den Leistungskursen wählte ich Informatik als drittes Prüfungsfach und Wirtschaft-Politik als mündliche Prüfung &mdash; in Informatik war ich tatsächlich der einzige Schüler meines Jahrganges und durfte mich mit einfach und doppelt verketteten Listen und den Türmen von Hanoi beschäftigen.
        </p>
        <p>
            Nach dem Abitur trat ich für nicht einmal zwei Monate zum Zivildienst an. Die Bundeswehr wollte mich mit meinem Schulabschluss gerne in ihren Reihen sehen, der B-Arzt fand bei der Eingangsuntersuchung beim Zivildienst mein relativ geringes Gewicht in Kombination mit meinem relativ langen Körper problematisch und schickte mich umgehend wieder nach Hause. Das wiederum ergab das Problem, dass bis zum nächstmöglichen Studienbeginn zum Wintersemester 2009 immerhin fast ein Jahr totzuschlagen war.
        </p>
        <p>
            Ich zog erst einmal wieder mit Schreibblock und Kameratasche für die Schleswig-Holsteinische Landesleitung los. Außerdem schnappte ich mir den Namen unserer ehemaligen Schülerfirma und meldete mit ambitionierten Zielen ein Gewerbe an. Reich wollte ich werden und berühmt wäre sicher auch nicht verkehrt, doch trotz mehrerer Aufträge blieb insbesondere der finanzielle Erfolg eher verhalten &mdash; es hat wohl schon einen Grund, dass die meisten Selbstständigen vor einem solchen Schritt studieren. Trotz des übersichtlichen Erfolges nutzte die produzierte Software erneut die neusten Technologien und basierte mittlerweile auf Symfony in der Version 1.4.
        </p>
        <p>
            Parallel dazu trieb ich mich regelmäßig im Netz umher, probierte diese Technik aus, verlor an jenem Hype schnell wieder das Interesse und versuchte ernsthaft, als Alternative zu facebook ein dezentrales soziales Netzwerk aufzubauen, was aber leider rasch am Zeitmangel scheiterte. Man bat eben nicht alleine in ein paar Wochen etwas, wofür facebook aberhunderte Programmierer beschäftigt. Selbst Diaspora*, mutmaßlich mit mehreren Programmierern besetzt, kommt seitdem nicht mehr so recht voran.
        </p>
        <p>
            Seit dem Wintersemester 2009 studierte ich Medieninformatik an der privaten Fachhochschule Wedel, direkt westlich von Hamburg. Leider war das Bachelor-Studium in den ersten Semestern so anstrengend, dass mir kaum noch Zeit für Hobbys, geschweige denn zum Programmieren blieb. Und auch wenn das Studium mitunter relativ anstrengend war und die Prüfungsergebnisse nicht immer den Erwartungen entsprachen, war der Studiengang definitiv die richtige Wahl.
        </p>
        <p>
            Viele meiner Projekte sind leider inzwischen aus dem Netz verschwunden, der verbliebene Teil wurde auf Basis von WordPress oder Mediawiki neu aufgebaut, wobei die fehlenden Funktionalität mit Plugins nachgerüstet wurden. Es ist leider parallel zu einem Bachelor-Studium nicht mehr möglich, ausreichend Zeit und Wartung und Pflege eigener Systeme zu stecken, dank WordPress ist das meiste mit nur ein oder zwei Mausklicks erledigt. Außerdem bleibt natürlich die Frage, wozu man als einzelner Programmierer die Mühe unternehmen sollte, ein solches System eigenhändig aufzubauen, wenn es bereits brauchbare Open-Source-Lösungen gibt, an deren Funktionsumfang und Qualität ein einzelner Programmierer gar nicht heranreicht.
        </p>
        <p>
            <a class="fancybox" rel="group" href="/images/full-size/audimax.jpg">
                <img class="img-fluid img-rounded img-thumbnail center-block" src="/images/resized/audimax.jpg" alt="Wedel kaempft fuer seine Fachhochschule" style="width: 33%;" />
            </a>
        </p>
        <p>
            Im Herbst 2010 machte plötzlich die Nachricht von Problemen unserer Hochschule die Runde, denn das Land Schleswig-Holstein wollte die finanziellen Zuschüsse radikal streichen — die Vorlesung am Donnerstagmorgen konnte der Aufregung nichts entgegensetzen und noch am selben Morgen gründete ich die Webseite <a href="http://www.wedel-kaempft.de/">Wedel kämpft für seine Fachhochschule</a>, mit der wir ähnlich wie <a href="http://www.luebeck-kaempft.de/" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-callback="true" data-slimstat-async="false">Lübecker Kommilitonen</a> unsere Interessen gegenüber der Politik vertreten wollten. Während für die Lübecker allerdings ein Teil ihrer Hochschule geschlossen werden sollte, drohte uns „nur“ eine deutliche Erhöhung der Studiengebühren, die wir wenigstens zum Teil abwenden konnten.
        </p>
        <p>
            Beinahe schon aus Zeitnot entwickelte sich bei mir während des Studiums ein seltsames Interesse zu Verkehrsregeln &nbsp; und vor allem zu Regeln, die von Seiten der Straßenverkehrsbehörden missverstanden oder nicht eingehalten werden. Im Schilderwiki sammelte ich ausführliche Beschreibungen zu missglückten Baustellenabsicherungen, falschen Parkbeschilderungen und lustigen Schilderkombinationen. Offenbar schauen sogar einige Behörden regelmäßig vorbei, denn so manche verunglückte Schilderkombination wurde plötzlich verbessert, kurz nachdem sie im Wiki auftauchte. Ein zweites von mir betriebenes Wiki ist das Scholawiki, in dem ich zusammen mit anderen Kommilitonen Arbeitsmaterialien für das Studium sammelte und wir an Lösungen alter Klausuraufgaben knobelten.
        </p>
        <p>
            Noch immer zog ich mit meiner Kamera los, allerdings fotografierte ich nicht mehr im Auftrag der Lokalzeitung, sondern mittlerweile lieber Portraits &mdash; und zwar draußen mit künstlichem Licht. Mit zwei mobilen Studioblitzen im Kofferraum geht’s vor allem im Sommer raus ins schöne Schleswig-Holstein oder ins Hamburger Umland, um an Seen, Stränden oder mitten in der Großstadt außergewöhnliche Fotos zu schießen. Menschen draußen im Leben zu fotografieren ist ungleich lustiger, flexibler und dynamischer als Studiofotografie, denn draußen warten Abermillionen Motive und Plätze für interessante Fotos, sowohl in der knallig bunten Natur als auch in den dunkleren Ecken Hamburgs.
        </p>
        <p>
            <a class="fancybox" rel="group" href="/images/full-size/miniatur-wunderland.jpg">
                <img class="img-fluid img-rounded img-thumbnail center-block" alt="Miniaturwunderland" src="/images/resized/miniatur-wunderland.jpg" style="width: 33%;" />
            </a>
        </p>
        <p>
            Im dritten und vierten Semester entwickelte ich zusammen mit drei Kommilitonen eine YouTube-ähnliche Videoplattform auf Ruby-on-Rails-Basis für jene Videos, die Medieninformatik-Studenten in den ersten beiden Semestern drehen. Bislang verschwanden die Filme nur in der Schublade, abgesehen von ein paar in den Tiefen von YouTube mit viel Mühe auffindbaren Werken. Zunächst probierten wir es mit dem altbekannten und schon leicht veralteten Symfony 1.4 als Basis, wechselten dann nach einem Monat auf Symfony 2.0, nur um nach einem weiteren Monat festzustellen, dass es mit der Dokumentation der gerade veröffentlichten Version noch nicht so weit her war, so dass ein weiterer Neuanfang mit Ruby on Rails beschlossen wurde. Tatsächlich ließen sich mit Ruby on Rails enorm schnell Ergebnisse erzielen, dass wir sogar parallel zur Prüfungszeit an dem Projekt arbeiten konnten.
        </p>
        <p>
            Es zeichnete sich recht bald ab, dass ich die Regelstudienzeit von sechs Semestern nicht einhalten konnte: Die mathematischen Klausuren schob ich hemmungslos vor mir her &nbsp; wenn beide Elternteile Mathematik am Gymnasium unterrichten, war eine gute Note schließlich Pflicht. Vor dem vierten Semester beschloss ich darum, die verbleibenen Semester aufzuteilen und meine Abschlussarbeit erst im achten Semester zu schreiben.
        </p>
        <p>
            Das brachte mich in die komfortable Situation neben dem Studium als Werkstudent arbeiten zu können: Im April 2012 bezog ich meinen Schreibtisch in der Qualitätssicherung der ICANS GmbH am Hamburger Gänsemarkt. Zwei Tage pro Woche kümmerte ich mich um automatisierte Oberflächentests, Regressionstests und ähnliche Aufgaben, bei denen ich meine Fähigkeit, „alles irgendwie kaputtzukriegen“, prima einsetzen konnte.
        </p>
        <p>
            Gleichzeitig saß ich immer häufiger auf dem Fahrrad. Nach acht Stunden am Gänsemarkt sah ich mich außerstande, mit der S-Bahn nach Hause zu fahren und blieb stattdessen noch etwas länger im Bureau, um an der Elbe in den Sonnenuntergang nach Wedel radeln zu können. Nur die Fahrt am frühen Morgen in die Gegenrichtung vermied ich, weil ich dazu früher hätte aufstehen müssen. Außerdem muss man entweder die Bundesstraße 431 entlangradeln oder mit dicken Beinen den Waseberg hochstrampeln.
        </p>
        <p>
            Die Sache mit dem Fahrrad nahm anschließend leicht überhand. Im Sommer 2011 fuhr ich zum ersten Mal bei einer Radtour der Critical Mass Hamburg mit. Das Prinzip einer Critical Mass ist spektakulär einfach: Scheinbar zufällig treffen sich einige Radfahrer am letzten Freitag im Monat an einem bestimmten Ort, um gemeinsam als geschlossener Fahrradverband im Sinne von § 27 Abs. 1 StVO durch die Stadt zu rollen. „Einige Radfahrer“ ist dabei ein recht dehbarer Begriff, im Juni 2011 waren knapp 250 Teilnehmer unterwegs, im Sommer 2013 über zwei- und im Mai 2014 erstmals über fünftausend.
        </p>
        <p>
            Zweieinhalb Jahre lang betreute ich die Webseite für die Critical Mass Hamburg und schoss zehntausende Fotos, die ich anschließend direkt nach der Tour ins Netz lud. Es gab tatsächlich nicht eine einzige Tour, bei der ich nicht mit der Kamera von vorne nach hinten und kreuz und quer durch das Teilnehmerfeld flitzte, wobei mir einige Teilnehmer schon eine ungesunde Gesichtsfarbe attestierten. Tatsächlich legte ich jeweils etwa die doppelte Wegstrecke eines „normalen Teilnehmers“ zurück und schnaufte am Ende der Tour wie eine Dampflokomotive.
        </p>
        <p>
            <a class="fancybox" rel="group" href="/images/full-size/criticalmass.jpg">
                <img class="img-fluid img-rounded img-thumbnail center-block" src="/images/resized/criticalmass.jpg" alt="Critical Mass Hamburg" style="width: 33%;" />
            </a>
        </p>
        <p>
            Aus der Webseite der Critical Mass Hamburg entwickelte sich später das relativ bekannte Weblog Radverkehrspolitik, wo ich in teilweise kilometerlangen Artikeln meine Meinung zu radverkehrspolitischen Themen verbreitete. Ein Dauerbrenner war natürlich die drohende Fahrradhelm-Pflicht, sowie ausführliche Erklärungen zu radverkehrspolitischen Gerichtsurteilen und Kommentare zur Straßenverkehrs-Ordnung. Bevor ich das Blog aufgrund rechtlicher Probleme und aus akutem Zeitmangel abrupt schließen musste, zählte Radverkehrspolitik täglich etwa dreitausend Besucher und war eines der bekanntesten deutschen Fahrrad-Weblogs.
        </p>
        <p>
            Im Wintersemester 2012 schwärmten wir ein zweites Mal für unsere Fachhochschule aus, um deren finanzielle Unterstützung zu sichern. Die Landesregierung hatte binnen zwei Jahren anscheinend vergessen, wie zunächst versprochen an unserer Hochschule vom Rotstift abzusehen. Unter anderem mit einer waghalsigen, 32-stündigen Fahrt quer durchs Land, bei der wir uns ungefähr siebenundzwanzig Mal verfuhren und auch spät nach Mitternacht an der Tür jedes Abgeordneten klopften, konnten wir zusammen mit der Hochschulleitung offenbar die finanzielle Unterstützung des Landes sichern. Mein Engagement in dieser Sache führte vermutlich auch dazu, dass ich ab dem Herbst 2012 auf dem Thron des Ersten Vorsitzenden der Studentenschaft an unserer Hochschule saß.
        </p>
        <p>
            Nach einem elfmonatigen Pflicht-Praktikum bei der ICANS GmbH kehrte ich für meine Abschlussarbeit wieder zurück an die Fachhochschule Wedel und tat was ich am besten konnte: Fahrradfahren und Software entwickeln. Parallel zur Webseite der Critical Mass Hamburg hatte ich unter der Domain criticalmass.in eine kleine, für Smartphones optimierte Webseite erstellt, auf der sich für verschiedene Städte der Treffpunkt einer Critical-Mass-Tour auf einer Karte anzeigen ließ.
        </p>
        <p>
            In meiner Abschlussarbeit baute ich die Webseite aus, so dass sich neben dem Treffpunkt auch die aktuelle Position des Teilnehmerfeldes auf einer Karte anzeigen ließ. Im Hintergrund arbeitete dabei Symfony 2, im Vordergrund JavaScript mit diversen HTML5-Buzzwords. Nach der Abschlussarbeit blieb ich in Wedel und arbeitete knapp ein Jahr lang als Werkstudent in der Qualitätssicherung bei der PARSHIP GmbH. Direkt gegen über der Hauptkirche St. Petri bastelte ich an Selenium-Oberflächentests unter dem Slogan „Working for Love“.
        </p>
        <p>
            <a class="fancybox" rel="group" href="/images/full-size/romo.jpg">
                <img class="img-fluid img-rounded img-thumbnail center-block" src="/images/resized/romo.jpg" alt="Rømø" style="width: 33%;" />
            </a>
        </p>
        <p>
            An criticalmass.in schraubte ich währenddessen mit zwei Kommilitonen weiter herum. Dass unser Server während einer Critical-Mass-Tour zusammenbrach, lag nur bedingt an dem großen Interesse der Teilnehmer, sondern vielmehr an unserer mangelhaften Implementierung: Wenn im Hintergrund bei jeder Anfrage erst einmal die schwerfällige Kombination aus Symfony2, Apache2 und PHP5 auf die Beine kommen muss, ist der Server mit knapp fünfzig Teilnehmern schon ganz gut ausgelastet. Im Sommersemester 2014 entschlankten wir die komplette Web-App, tauschen das komplette Api gegen eine ultra-schnelle NodeJs-Implementierung aus und veröffentlichen im monatlichen Rhythmus neue Funktionen. Um die Positionsdaten der Teilnehmer einzusammeln, durften wir die Glympse-Api anzapfen: Die Critical-Mass-Teilnehmer schickten uns aus der Glympse-App eine Mail, unser Server arbeitete die E-Mails ab, ordnete die Positionsdaten den Städten zu und zeigte sie auf einer Karte an. Das klappte ganz prima, auch wenn ich dazu einen Teil meines Sommerurlaubes in der Normandie mit dem Notebook auf der Rückbank des Wohnmobils zubrachte. Halb so wild: So toll ist das Wetter in Nordfrankreich leider nicht.
        </p>
        <p>
            Ab dem 1. September 2014 arbeitete ich als Werkstudent in der Qualitätssicherung bei der Jimdo GmbH in Hamburg. Nach meinem Umzug von Wedel nach Hamburg-Eidelstedt konnte ich bequem mit dem Rad zur Arbeit und zurückfahren und habe sogar noch etwas Abwechslung, wenn ich abends noch eine Runde durch den Volkspark drehte oder die ganz große Runde um die Alster herum fuhr. Im Bureau habe ich erst einmal eine Weile mit Jenkins gekämpft und ihm Fähigkeiten beigebracht, die ich selbst kaum für möglich gehalten hätte. Außerdem habe ich mich mit Amazon Web Services und Puppet herumgeschlagen &mdash; so eine richtige Freundschaft wollte da allerdings nicht aufkommen zwischen Puppet und mir.
        </p>
        <p>
            Und dann habe ich mein Studium geschmissen.
        </p>
        <p>
            Tatsächlich lief das nicht „einfach so“, wie es bei dem Satz den Eindruck macht, immerhin habe ich schon einen Bachelor-Abschluss in der Tasche. Aber nach mittlerweile sechs Jahren in der Uni war langsam die Luft raus. Die ganze Sache ausführlich zu erklären würde hier wohl einige Absätze sprengen, aber tatsächlich war das keine Kurzschlussreaktion, sondern eine wohl durchdachte Entscheidung. Ein geschmissenes Studium ist sicherlich noch kein Garant dafür, sich mit Steve Jobs, Marc Zuckerberg und Bill Gates in eine Reihe stellen zu dürfen, aber immerhin habe ich jetzt nach Feierabend den Kopf frei für viele neue Ideen und Pläne.
        </p>
        <p>
            Kurz nach Ende des Studiums wechselte ich zur HealthCare United GmbH & Co. KG nach Hoheluft-Ost. Jeden Morgen rollte ich mit dem Fahrrad den Kollauwanderweg entlang ins Bureau, wo ich primär versuchte, Symfony2 zu bändigen. Nebenbei machte ich noch etwas Qualitätssicherung und diverse Aufgaben, die heutzutage unter dem Stichwort „DevOps“ zusammengefasst werden.
        </p>
        <p>
            <a class="fancybox" rel="group" href="/images/full-size/notebook.jpg">
                <img class="img-fluid img-rounded img-thumbnail center-block" src="/images/resized/notebook.jpg" alt="Bei der Arbeit" style="width: 33%;" />
            </a>
        </p>
        <p>
            Die Zeit nach dem Studium bot tatsächlich ungeahnte Annehmlichkeiten: Abends hatte ich einen einigermaßen geregelten Feierabend und hatte plötzlich Zeit für Hobbys, Freunde und natürlich fürs Radfahren. Eine Leidenschaft blieb weiterhin criticalmass.in: Nachdem die Entwicklung mehrere Monate nur schleppend vorankam, baute ich die Anwendung grundlegend um und kann mittlerweile beinahe im Tagesrythmus neue Funktionen veröffentlichen. Natürlich krankt criticalmass.in an den üblichen Problemen: Das Bootstrap-Framework im Frontend springt sofort ins Auge, momentan müssen noch zusätzliche Tests implementiert und hunderte Zeilen Quellcode dokumentiert werden. Außerdem finden sich überall noch Spuren von jahrealten Lösungsansätzen: Da macht man nichts ahnend ein Verzeichnis auf und plötzlich springen einem uralte Klassen mit furchtbarem Quellcode ins Auge, den man heute so überhaupt nicht mehr schriebe.
        </p>
        <p>
            Dennoch ist es einfach total großartig: Ich habe eine neue Idee, setze sie binnen ein paar Stunden um und kann release sie noch vor Mitternacht. criticalmass.in ist sozusagen meine Spielweise, um ganz in Ruhe neue Technologien auszuprobieren &mdash; und wenn mal was kaputtgeht, gibt’s keine disziplinarischen Konsequenzen, sondern allenfalls ein paar Hinweise auf facebook. Und das ist total gigantisch: Eine Suchfunktion muss her? Okay, mal sehen, wie Elasticsearch funktioniert. Zack, ein paar Stunden später ist eine ganz rudimentäre Suchfunktion fertig. Mit Typeahead wäre die Suche noch cooler? Okay, das ist in einer halben Stunde gemacht. Der Server gerät ins Schwitzen, weil NodeJs die Datenbank mit Schreiboperationen quält? Dann schiebe ich halt Memcache dazwischen.
        </p>
        <p>
        Und dann erst Leaflet! Mit Leaflet lassen sich so großartige Kartenfunktionen umsetzen, dass ich mich kaum entscheiden kann, was ich als nächstes umsetzen möchte. Und für alles, für das Symfony zu langsam ist, gibt’s noch NodeJs, das ich zusammen mit dem Express-Framework für meine Api einsetze. In Zukunft soll alles auch wieder etwas loser miteinander verbunden werden, quasi in Richtung „Critical Mass as a Service“ gehen, aber bis dahin ist es noch ein ganz langer Weg. Der Großteil der Critical-Mass-Repositorys ist offen auf <a href="https://github.com/calderacc">GitHub</a> zugänglich, lediglich die bisherige Api und der Import von Positionsdaten über Glympse sind aus lizenzrechtlichen Gründen momentan noch nicht öffentlich.
        </p>
        <p>
            Und irgendwann will ich mit dem Fahrrad bis zum Nordkap fahren. Aber bis dahin werden wohl leider noch ein paar Jahre vergehen. Die <a href="http://www.nordkap.bike/">passende Domain</a> habe ich mir schon mal gesichert.
        </p>
    </div>
</div>
{% endblock %}
