{% extends 'page.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">
    Lebenslauf
</li>
{% endblock %}

{% block pageContent %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron" style="background-image: url(/images/header/wedel.jpg)">
            <h1 class="display-4">
                Hej, ich bin’s!
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3>
            Berufserfahrung
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h4>
            Bornholdt Lee GmbH
        </h4>
        <ul>
            <li>
                Mitarbeit in unterschiedlichen Projekten auf Basis von Symfony und Wordpress
            </li>
            <li>
                Umsetzung neuer Layouts in Wordpress-Themes mit Bootstrap, Materialize und anderen Frameworks
            </li>
            <li>
                Implementierung von Unit- und Functional-Tests
            </li>
            <li>
                Vorträge über diverse Technologie-Themen wie Symfony 4, Wordpress, Objektorientierte Programmierung und elasticsearch
            </li>
            <li>
                Kundenberatung zur Auswahl von Technologien passend zum jeweiligen Einsatzzweck
            </li>
            <li>
                Implementierung einheitlicher Prozesse innerhalb des Web-Teams
            </li>
            <li>
                Durchführung manueller Regressionstests
            </li>
            <li>
                Erfassung und Verwaltung von Softwarefehlern mit JIRA
            </li>
            <li>
                Durchführung von Deployments der Symfony- und Wordpress-Anwendungen
            </li>
            <li>
                Konfiguration unterschiedlicher Serversysteme, teilweise mit Plesk
            </li>
            <li>
                Evaluierung neuer Werkzeuge für den Webbereich
            </li>
            <li>
                Konzeption der Software-Architektur
            </li>
            <li>
                Anbindung bestehender Softwaresysteme an verschiedene Payment-Anbieter
            </li>
            <li>
                Aufbau von REST-Apis als Schnittstelle für die Mobile-Teams
            </li>
            <li>
                Implementierung von Backendsystemen mit NodeJs und Websockets
            </li>
            <li>
                Konzeption eines betriebsweiten Loggingsystemes mit Graylog und eines Monitoringsystemes mit Zabbix für den Webbereich
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h4>
            HealthCare United GmbH
        </h4>

        <ul>
            <li>
                Weiterentwicklung des bestehenden Jobsuche-Portals auf Symfony-Basis
            </li>
            <li>
                Optimierung der Suchanfragen mit elasticsearch
            </li>
            <li>
                Implementierung eines neuen Layouts mit Bootstrap
            </li>
            <li>
                Implementierung zusätzlicher Anbindung anderer Portale zur Einbindung weiterer Stellenangebote
            </li>
            <li>
                Payment-Integration
            </li>
            <li>
                umfangreiches Refactoring der Anwendung
            </li>
            <li>
                Wartung, Gestaltung und Suchmaschinenoptimierung der dazugehörigen Wordpress-Installation
            </li>
            <li>
                Implementierung automatischer Oberflächentests mit Selenium 2
            </li>
            <li>
                Ingegration von Zoho CRM und Mailchimp
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h4>
            Jimdo GmbH
        </h4>

        <ul>
            <li>
                Migration der bestehenden Continuous-Deployment-Pipeline auf ein umfangreiches Jenkins-Setup mit dem Groovy-basierten JobDSL, Puppet und Amazon Webservices
            </li>
            <li>
                Wartung der Jenkins-Installationen, Anpassungen der Pipelines an die einzelnen Projektanforderungen
            </li>
            <li>
                Wartung und Anpassung vorhandener Cucumber-Tests
            </li>
            <li>
                Erfassung und Verwaltung von Tickets im QA-Bereich
            </li>
            <li>
                Durchführung regelmäßiger Release-Tests
            </li>
            <li>
                Beratung der Projektteams zur Optimierung der Testbarkeit ihrer Anwendungen
            </li>
            <li>
                Mitarbeit an unterschiedlichen Projekten im Bereich der Automatisierung mit PHP, Golang und JavaScript
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h4>
            Parship GmbH
        </h4>

        <ul>
            <li>
                Aufbau automatisierter Oberflächentests mit JBehave und Selenium 1
            </li>
            <li>
                Evaluierung unterschiedlicher Werkzeuge für automatisierte Oberflächentests
            </li>
            <li>
                Migration sämtlicher Oberflächentests auf Selenium 2
            </li>
            <li>
                Regelmäßige Durchführung manueller Regressionstests
            </li>
            <li>
                Implementierung von Unit- und Functional-Tests
            </li>
            <li>
                Erfassung und Verwaltung von Softwarefehlern mit JIRA
            </li>
            <li>
                Erstellung von Testplänen mit Testlink
            </li>
            <li>
                Beratung der Projektteams zur Optimierung der Testbarkeit ihrer Anwendungen
            </li>
            <li>
                Erfassung von Qualitätsmetriken mit SonarQube
            </li>
            <li>
                Fotografische Dokumentation von Firmenevents
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h4>
            ICANS GmbH
        </h4>

        <ul>
            <li>
                Aufbau automatisierter Oberflächentests mit QF-Test
            </li>
            <li>
                Regelmäßige Durchführung manueller Regressionstests
            </li>
            <li>
                Erfassung und Verwaltung von Softwarefehlern mit Bugzilla
            </li>
            <li>
                Erstellung manueller Testpläne für Release-Tests
            </li>
            <li>
                Aufbau eines Continuous-Deployment-Systems für die unterschiedlichen Projektteams
            </li>
            <li>
                Dokumentation der Release-Prozesse
            </li>
        </ul>
    </div>
</div>
{% endblock %}
