{% extends 'page.html.twig' %}

{% set headerImage = 'criticalmass.jpg' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">
    Projekte
</li>
{% endblock %}

{% block pageContent %}
<div class="row">
    <div class="col-12">
        <h1>
            Was ich noch so treibe
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p class="lead">
            Zwischen Feierabend und Mitternacht bleibt zum Glück immer wieder etwas Zeit für eigene Projekte. Viele davon sind leider aus Zeitmangel wieder aus dem Netz verschwunden, einiges beschäftigt mich allerdings noch heute.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card-columns">
            <div class="card mb-3">
                <a href="https://insekten.tips/">
                    <img class="card-img-top" src="/images/projects/insektentips.thumb.jpg" alt="Insektentips" />
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://insekten.tips/">
                            Insekten.tips
                        </a>
                    </h4>
                    <p class="card-text">
                        Kurz mal die Welt retten? Die Schnauze voll vom #Insektensterben und so? Erfahre in fünfzehn Minuten, wie du in drei Stunden einen nachhaltigen Lebensraum für Insekten schaffen kannst.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            seit Januar 2017
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <a href="https://death.bike/">
                    <img class="card-img-top" src="/images/projects/death-bike.thumb.jpg" alt="Death.Bike" />
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://death.bike/">
                            Death.Bike
                        </a>
                    </h4>
                    <p class="card-text">
                        Die schlechte Seite des Radfahrens: Auf einer Karte werden tödlich verunglückte Radfahrer zusammen mit der Unfall- und Todesursache verortet, aus einer daraus generierten Statistik lassen sich die Hauptunfallursachen für tödliche Unfälle ablesen.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            seit Januar 2017
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <img class="card-img-top" src="/images/projects/luft-jetzt.thumb.jpg" alt="Luft.jetzt" />
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://luft.jetzt/">
                            Luft<sup>jetzt</sup>
                        </a>
                    </h4>
                    <p class="card-text">
                        Dicke Luft in der Häuserschlucht: Luft<sup>jetzt</sup> zeigt die aktuellen Luftwerte der Messstationen in der Umgebung des Nutzers an.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            seit Januar 2017
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <img class="card-img-top" src="/images/projects/fahrradstadt-hamburg.thumb.jpg" alt="Fahrradstadt.Hamburg" />
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://fahrradstadt.hamburg/">
                            Fahrradstadt.Hamburg
                        </a>
                    </h4>
                    <p class="card-text">
                        Radfahren kann auch Spaß machen: Fahrradstadt.Hamburg zeigt, wie präsent das Fahrrad im großstädtischen Alltagsleben ist und was sich alles mit dem Rad erleben und erledigen lässt.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            seit Januar 2017
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <img class="card-img-top" src="/images/projects/criticalmasshamburg.thumb.jpg" alt="Critical Mass Hamburg" />
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://criticalmass.hamburg/">
                            Critical Mass Hamburg
                        </a>
                    </h4>
                    <p class="card-text">
                        Einer muss es ja machen: Seit Dezember 2016 betreibe ich wieder eine Webseite zur Critical Mass Hamburg. Im Gegensatz zur vorigen Seite gibt’s dieses Mal aber keine umfangreiche Webseite mit allem drum und dran, sondern lediglich eine ganz knappe Übersicht mit Anzeige des Treffpunktes für die nächste Tour.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            seit Dezember 2016
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <img class="card-img-top" src="/images/projects/cycleways.thumb.jpg" alt="Cycleways" />
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://cycleways.info/">
                            Cycleways<sup>beta</sup>
                        </a>
                    </h4>
                    <p class="card-text">
                        Gefahrenstellen für den Radverkehr gibt es eine Menge: Radwege enden im Nichts, Arbeitsstellen sind ungesichert, Ampeln nicht für den Radverkehr gültig. Die zuständigen Behörden interessiert’s nicht — oder sie sind überlastet. Mit Cycleways lassen sich Gefahrenstellen kategorisieren und einem beliebigen Bearbeiter zuweisen.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            seit November 2016
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <a href="https://criticalmass.tips/">
                    <img class="card-img-top" src="/images/projects/criticalmass-tips.thumb.jpg" alt="criticalmass.tips" />
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://criticalmass.tips/">
                            criticalmass.tips
                        </a>
                    </h4>
                    <p class="card-text">
                        Ebenfalls aus criticalmass.in heraus entstand diese kleine HMTL-Seite, die ganz kurz und in griffiger Form die wichtigsten Grundlagen für die Teilnahme an einer Critical-Mass-Rundfahrt erklärt: Wie funktioniert Corken, welche Verkehrsregeln gelten und Glasflaschen sind echt eine dumme Idee.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            seit Oktober 2016
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <a href="https://criticalmass.live/">
                    <img class="card-img-top" src="/images/projects/criticalmass-live.thumb.jpg" alt="criticalmass.live" />
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://criticalmass.live/">
                            criticalmass.live
                        </a>
                    </h4>
                    <p class="card-text">
                        criticalmass.live zeigt auf einer Karte den Standort einer Critical-Mass-Tour und wurde im Herbst 2016 technisch auf criticalmass.in herausgelöst. Standorte können über <a href="https://criticalmass.live/content/so-funktioniert-critical-mass-live">Glympse oder Critical Maps</a> geteilt und auf der Karte der jeweiligen Stadt dargestellt werden. So finden Nachzügler und Corker (und Teilnehmer, die sich an der Tankstelle kurz mit Bier eindecken) schnell wieder Anschluss.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            Mai 2008 bis Juni 2014
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <a href="https://fahrradampel.de/">
                    <img class="card-img-top" src="/images/projects/fahrradampel.thumb.jpg" alt="Fahrradampel" />
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://fahrradampel.de/">Fahrradampel</a>
                    </h4>
                    <p class="card-text">
                        Ein relativ bekanntes Highlight des Radverkehrspolitik-Weblogs war eine riesige und relativ unübersichtliche Tabelle über den <a href="http://sqi.be/p37stvo">§ 37 Abs. 2 Nr. 6 StVO</a>, der die Gültigkeit von Lichtzeichen für Radfahrer festlegte. Bei genauer Betrachtung &mdash; und schließlich wollen doch alle, dass sich Radfahrer an die Verkehrsregeln halten &mdash; stellte sich heraus, dass in der Vergangenheit die Regelung, welche Ampel denn nun für Radfahrer gilt, äußerst kompliziert gelöst wurde.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            seit Dezember 2015
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://radverkehrsforum.de/">
                            Radverkehrsforum
                        </a>
                    </h4>
                    <p class="card-text">
                        Das Radverkehrsforum entstand als Diskussionsforum zum Radverkehrspolitik-Weblog, nachdem mein Posteingang mehr und mehr mit Anfragen über die Straßenverkehrs-Ordnung und ähnliche Themen geflutet wurde.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            seit Dezember 2013
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://radverkehrspolitik.de/">
                            Radverkehrspolitik.de
                        </a>
                    </h4>
                    <p class="card-text">
                        Aus der Webseite der Critical Mass Hamburg entstand schließlich das Weblog Radverkehrspolitik. Hier schrieb ich teilweise kilometerlange Abhandlungen über Urteile aus dem Verkehrsrecht, kommentierte fahrrad-spezifische Nachrichtenmeldungen und ließ mich über die aktuellen Entwicklungen während des so genannten Fahrrad-Boomes aus. Zwischen dem Frühjahr 2014 und dem Herbst 2016 machte das Blog eine lange Pause aufgrund akuten Zeitmangels, seitdem tippe ich hin und wieder ein paar extrem lange und extrem schwer zu verstehende Texte ins Netz.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            seit Januar 2012
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://malte.me/">
                            Malte.me
                        </a>
                    </h4>
                    <p class="card-text">
                        Malte.me ist sozusagen mein Instagram-Ersatz: Hier lade ich hin und wieder ein paar Fotos hoch, die ich für besonders gelungen halte. Das ist sozusagen auch ein bisschen meine Motivation, um mal wieder mit der großen Kamera vor die Tür zu gehen.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            seit April 2012
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <a href="https://criticalmass.in/">
                    <img class="card-img-top" src="/images/projects/criticalmass-in.thumb.jpg" alt="criticalmass.in" />
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://criticalmass.in/">
                            criticalmass.in
                        </a>
                    </h4>
                    <p class="card-text">
                        Ursprünglich entstand criticalmass.in als mobil-optimierte Version der Wordpress-Webseite der Critical Mass Hamburg: Man konnte unter der einprägsamen Adresse <a href="https://criticalmass.in/hamburg">criticalmass.in/hamburg</a> den Treffpunkt der nächsten Hamburger Critical-Mass-Radtour abrufen. Mit der Zeit schraubte ich hin und wieder daran herum, bis ich schließlich meine Bachelor-Abschlussarbeit über mobile Web-Apps und HTML5-Geolocation schrieb. Während des Master-Studiums arbeitete ich mit zwei Kommilitonen weiter an diesem Projekt und baue bis heute immer wieder neue Funktionen ein.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            seit Juni 2011
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <img class="card-img-top" src="/images/projects/criticalmass-hamburg.thumb.jpg" alt="Critical Mass Hamburg" />
                <div class="card-body">
                    <h4 class="card-title">
                        <del>Critical Mass Hamburg</del>
                    </h4>
                    <p class="card-text">
                        Zweieinhalb Jahre lag betrieb ich die Webseite der Critical Mass Hamburg und schoss während der monatlichen Touren mehrere tausend Fotos. Danach setzte ich mich quasi zur Ruhe und rollte seitdem als „normaler“ Radfahrer beim Fahrradfreitag mit.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            Juni 2011 bis Dezember 2013
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://wedel-kaempft.de/">
                            Wedel kämpft für seine Fachhochschule
                        </a>
                    </h4>
                    <p class="card-text">
                        Nachdem Gerüchte über die Kürzungen der Landesmittel an der Fachhochschule Wedel die Runde machten, installierte ich kurzerhand eine Wordpress-Webseite, um zusammen mit dem AStA einige Proteste der Studentenschaft zu organisieren. Im Moment gibt es glücklicherweise keinen Grund für Proteste, aber die Webseite bleibt dennoch erst einmal online: Man kann ja nie wissen…
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            seit Oktober 2010
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <img class="card-img-top" src="/images/projects/schilderwiki.thumb.jpg" alt="Schilderwiki" />
                <div class="card-body">
                    <h4 class="card-title">
                        <del>Schilerwiki</del>
                    </h4>
                    <p class="card-text">
                        Ein etwas seltsames Wiki über die Absicherung von Arbeitsstellen, lustige und unsinnige Verkehrsschilder und unbenutzbare Radwege. Auch hier mangelte es während des Studiums leider immer wieder an der Zeit, die Inhalte zu pflegen und auf dem neusten Stand zu halten.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            November 2009 bis August 2013
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://www.scholawiki.org/">
                            Scholawiki
                        </a>
                    </h4>
                    <p class="card-text">
                        Ein sorgfältig gepflegtes Wiki mit Klausurbearbeitungen und Lösungsansätzen, das ich während meines Studiums in Wedel aufgebaut habe. In stundenlanger und mühevoller Arbeit habe ich sogar jede einzelne mathematische Formel in L<sup>A</sup>T<sub>E</sub>X gegossen &mdash; das war echt kein Spaß!
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            seit Oktober 2009
                        </small>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <img class="card-img-top" src="/images/projects/unitedcolors.thumb.jpg" alt="United Colors" />
                <div class="card-body">
                    <h4 class="card-title">
                        <del>United Colors</del>
                    </h4>
                    <p class="card-text">
                        Mit einer mobilen Blitzanlage im Kofferraum zog ich jahrelang los, um an sommerlichen Wochenenden Menschen draußen in der Natur oder in der schroffen Großstadt zu fotografieren. Während des Studiums mangelte es leider immer mehr an der Zeit — und außerdem habe ich kein Auto und somit keinen Kofferraum mehr.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            Mai 2008 bis Juni 2014
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
