{% extends 'page.html.twig' %}

{% set headerImage = 'criticalmass.jpg' %}

{% block breadcrumb %}
<li class="active">
    Projekte
</li>
{% endblock %}

{% block pageContent %}
<div class="row">
    <div class="col-md-12">
        <h1>
            Was ich noch so treibe
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="lead">
            Zwischen Feierabend und Mitternacht bleibt zum Glück immer wieder etwas Zeit für eigene Projekte. Viele davon sind leider aus Zeitmangel wieder aus dem Netz verschwunden, einiges beschäftigt mich allerdings noch heute.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        seit Oktober 2017
                    </td>
                    <td>
                        <h5>
                            <a href="https://insekten.tips/">
                                Insekten.tips
                            </a>
                        </h5>

                        <p>
                            Lorem ipsum.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        seit Januar 2017
                    </td>
                    <td>
                        <h5>
                            <a href="https://luft.jetzt/">
                                Luft<sup>jetzt</sup>
                            </a>
                        </h5>

                        <p>
                            Lorem ipsum.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        seit Januar 2017
                    </td>
                    <td>
                        <h5>
                            <a href="https://death.bike/">
                                Death.bike
                            </a>
                        </h5>

                        <p>
                            Lorem ipsum.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        seit Januar 2017
                    </td>
                    <td>
                        <h5>
                            <a href="https://fahrradstadt.hamburg/">
                                Fahrradstadt.Hamburg
                            </a>
                        </h5>

                        <p>
                            Lorem ipsum.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        seit November 2016
                    </td>
                    <td>
                        <h5>
                            <a href="https://criticalmass.hamburg/">
                                Criticalmass.Hamburg
                            </a>
                        </h5>

                        <p>
                            Lorem ipsum.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        seit November 2016
                    </td>
                    <td>
                        <h5>
                            <a href="https://cycleways.info/">
                                Cycleways.info
                            </a>
                        </h5>

                        <p>
                            Lorem ipsum.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        seit Oktober 2016
                    </td>

                    <td>
                        <h5>
                            <a href="https://criticalmass.tips/">
                                criticalmass.tips
                            </a>
                        </h5>

                        <p>
                            Ebenfalls aus criticalmass.in heraus entstand diese kleine HMTL-Seite, die ganz kurz und in griffiger Form die wichtigsten Grundlagen für die Teilnahme an einer Critical-Mass-Rundfahrt erklärt: Wie funktioniert Corken, welche Verkehrsregeln gelten und Glasflaschen sind echt eine dumme Idee.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        seit September 2016
                    </td>

                    <td>
                        <h5>
                            <a href="https://criticalmass.live/">
                                criticalmass.live
                            </a>
                        </h5>

                        <p>
                            criticalmass.live zeigt auf einer Karte den Standort einer Critical-Mass-Tour und wurde im Herbst 2016 technisch auf criticalmass.in herausgelöst. Standorte können über <a href="https://criticalmass.live/content/so-funktioniert-critical-mass-live">Glympse oder Critical Maps</a> geteilt und auf der Karte der jeweiligen Stadt dargestellt werden. So finden Nachzügler und Corker (und Teilnehmer, die sich an der Tankstelle kurz mit Bier eindecken) schnell wieder Anschluss.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        seit Dezember 2015
                    </td>
                    <td>
                        <h5>
                            <a href="https://www.fahrradampel.de/">
                                Fahrradampel
                            </a>
                        </h5>

                        <p>
                            Ein relativ bekanntes Highlight des Radverkehrspolitik-Weblogs war eine riesige und relativ unübersichtliche Tabelle über den <a href="http://sqi.be/p37stvo">§ 37 Abs. 2 Nr. 6 StVO</a>, der die Gültigkeit von Lichtzeichen für Radfahrer festlegte. Bei genauer Betrachtung &mdash; und schließlich wollen doch alle, dass sich Radfahrer an die Verkehrsregeln halten &mdash; stellte sich heraus, dass in der Vergangenheit die Regelung, welche Ampel denn nun für Radfahrer gilt, äußerst kompliziert gelöst wurde.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        seit Dezember 2013
                    </td>
                    <td>
                        <h5>
                            <a href="https://www.radverkehrsforum.de/">
                                Radverkehrsforum
                            </a>
                        </h5>

                        <p>
                            Das Radverkehrsforum entstand als Diskussionsforum zum Radverkehrspolitik-Weblog, nachdem mein Posteingang mehr und mehr mit Anfragen über die Straßenverkehrs-Ordnung und ähnliche Themen geflutet wurde.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        seit Januar 2012
                    </td>
                    <td>
                        <h5>
                            <a href="https://radverkehrspolitik.de/">
                                Radverkehrspolitik
                            </a>
                        </h5>

                        <p>
                            Aus der Webseite der Critical Mass Hamburg entstand schließlich das Weblog Radverkehrspolitik. Hier schrieb ich teilweise kilometerlange Abhandlungen über Urteile aus dem Verkehrsrecht, kommentierte fahrrad-spezifische Nachrichtenmeldungen und ließ mich über die aktuellen Entwicklungen während des so genannten Fahrrad-Boomes aus. Zwischen dem Frühjahr 2014 und dem Herbst 2016 machte das Blog eine lange Pause aufgrund akuten Zeitmangels, seitdem tippe ich hin und wieder ein paar extrem lange und extrem schwer zu verstehende Texte ins Netz.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        seit April 2012
                    </td>
                    <td>
                        <h5>
                            <a href="http://www.malte.me/">
                                Malte.me
                            </a>
                        </h5>

                        <p>
                            Malte.me ist sozusagen mein Instagram-Ersatz: Hier lade ich hin und wieder ein paar Fotos hoch, die ich für besonders gelungen halte. Das ist sozusagen auch ein bisschen meine Motivation, um mal wieder mit der großen Kamera vor die Tür zu gehen.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        seit Juni 2011
                    </td>
                    <td>
                        <h5>
                            <a href="https://criticalmass.in/">
                                criticalmass.in
                            </a>
                        </h5>

                        <p>
                            Ursprünglich entstand criticalmass.in als mobil-optimierte Version der Wordpress-Webseite der Critical Mass Hamburg: Man konnte unter der einprägsamen Adresse <a href="https://criticalmass.in/hamburg">criticalmass.in/hamburg</a> den Treffpunkt der nächsten Hamburger Critical-Mass-Radtour abrufen. Mit der Zeit schraubte ich hin und wieder daran herum, bis ich schließlich meine Bachelor-Abschlussarbeit über mobile Web-Apps und HTML5-Geolocation schrieb. Während des Master-Studiums arbeitete ich mit zwei Kommilitonen weiter an diesem Projekt und baue bis heute immer wieder neue Funktionen ein.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        Juni 2011 bis Dezember 2013
                    </td>
                    <td>
                        <h5>
                            <del>
                                Critical Mass Hamburg
                            </del>
                        </h5>

                        <p>
                            Zweieinhalb Jahre lag betrieb ich die Webseite der Critical Mass Hamburg und schoss während der monatlichen Touren mehrere tausend Fotos. Danach setzte ich mich quasi zur Ruhe und rollte seitdem als „normaler“ Radfahrer beim Fahrradfreitag mit.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        seit Oktober 2010
                    </td>
                    <td>
                        <h5>
                            <a href="http://www.wedel-kaempft.de/">
                                Wedel kämpft für seine Fachhochschule
                            </a>
                        </h5>

                        <p>
                            Nachdem Gerüchte über die Kürzungen der Landesmittel an der Fachhochschule Wedel die Runde machten, installierte ich kurzerhand eine Wordpress-Webseite, um zusammen mit dem AStA einige Proteste der Studentenschaft zu organisieren. Im Moment gibt es glücklicherweise keinen Grund für Proteste, aber die Webseite bleibt dennoch erst einmal online: Man kann ja nie wissen…
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        November 2009 bis August 2013
                    </td>
                    <td>
                        <h5>
                            <del>Schilderwiki</del>
                        </h5>

                        <p>
                            Ein etwas seltsames Wiki über die Absicherung von Arbeitsstellen, lustige und unsinnige Verkehrsschilder und unbenutzbare Radwege. Auch hier mangelte es während des Studiums leider immer wieder an der Zeit, die Inhalte zu pflegen und auf dem neusten Stand zu halten.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        seit Oktober 2009
                    </td>
                    <td>
                        <h5>
                            <a href="https://www.scholawiki.org/">
                                Scholawiki
                            </a>
                        </h5>

                        <p>
                            Ein sorgfältig gepflegtes Wiki mit Klausurbearbeitungen und Lösungsansätzen, das ich während meines Studiums in Wedel aufgebaut habe. In stundenlanger und mühevoller Arbeit habe ich sogar jede einzelne mathematische Formel in L<sup>A</sup>T<sub>E</sub>X gegossen &mdash; das war echt kein Spaß!
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        Mai 2008 bis Juni 2014
                    </td>
                    <td>
                        <h5>
                            <del>United Colors</del>
                        </h5>

                        <p>
                            Mit einer mobilen Blitzanlage im Kofferraum zog ich jahrelang los, um an sommerlichen Wochenenden Menschen draußen in der Natur oder in der schroffen Großstadt zu fotografieren. Während des Studiums mangelte es leider immer mehr an der Zeit &mdash; und außerdem habe ich kein Auto und somit keinen Kofferraum mehr.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
