{% extends 'page.html.twig' %}

{% set headerImage = 'fh-wedel.jpg' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">
    Studium
</li>
{% endblock %}

{% block pageContent %}
<div class="row">
    <div class="col-12">
        <h1>
            Medieninformatik und IT-Sicherheit an der FH Wedel
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p class="lead">
            Vom Herbst 2009 bis zum Frühjahr 2015 studierte ich Medieninformatik und IT-Sicherheit an der Fachhochschule Wedel, direkt westlich der Hansestadt Hamburg. Neben den Vorlesungen und zwischen den Semestern waren eine ganze Reihe von Aufgaben und Projekten zu bearbeiten:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-10 offset-md-1">
        <div class="list-group">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Master-Projekt: Ping!
                    </h5>
                    <small>
                        Sommersemester 2014
                    </small>
                </div>
                <p class="mb-1">
                    Die technischen Beschränkungen, denen eine Web-App auf dem Smartphone unterliegt, umgehen wir mit einer „echten App“ für iOS und Android. Ping sendet während einer Critical-Mass-Tour auch im Hintergrund weiter Positionsdaten, während die Bedienung wie gewohnt über das Web-App-Frontend erfolgt.
                </p>
            </div>

            <a href="https://criticalmass.in/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Master-Projekt: criticalmass.in
                    </h5>
                    <small>
                        Wintersemester 2013
                    </small>
                </div>
                <p class="mb-1">
                    Während unseres Master-Studiums sollen wir an einem relativ umfangreichen Projekt arbeiten. Zusammen mit zwei Kommilitonen greife ich das Thema meiner Abschlussarbeit auf und wir versuchen uns an der besten Tracking-App für Critical-Mass-Touren.
                </p>
            </a>

            <a href="https://criticalmass.in/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Bachelor-Arbeit: criticalmass.in
                    </h5>
                    <small>
                        Sommersemester 2013
                    </small>
                </div>
                <p class="mb-1">
                    Zum Ende meines Bachelor-Studiums baue ich eine mobile Web-App für die Teilnehmer an Critical-Mass-Touren. Es hätte vermutlich kein Thema gegeben, das besser zu mir passte. Einen Sommer lang tobte ich mich mit Symfony 2 und Fahrrädern aus.
                </p>
            </a>

            <a href="https://asta-wedel.de/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        AStA Wedel
                    </h5>
                    <small>
                        Wintersemester 2012
                    </small>
                </div>
                <p class="mb-1">
                    Vom Herbst 2012 war ich vier Semester lang Erster Vorsitzender der Studentenschaft an der Fachhochschule Wedel.
                </p>
            </a>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Audio-Workshop: Studentenleben in 5.1
                    </h5>
                    <small>
                        Wintersemester 2012
                    </small>
                </div>
                <p class="mb-1">
                    Für unser Abschlussprojekt des Audio-Workshops bastelten wir eine 5.1-Surround-Aufnahme eines Studenten, der sich morgens aus dem Bett durch Küche und Bad zur Uni quält.
                </p>
            </div>

            <a href="http://www.fh-wedel.de/mitarbeiter/uh/lehrveranstaltungen/ss12/rich-internet-applications/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Seminarvortrag: Google Web Toolkit
                    </h5>
                    <small>
                        Sommersemester 2012
                    </small>
                </div>
            </a>

            <a href="http://commonpurpose.org/deutschland/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Common Purpose Leadership Class: „Wie funktioniert (m)eine Stadt?“
                    </h5>
                    <small>
                        Sommersemester 2012
                    </small>
                </div>
            </a>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Seminarteilnahme: Communication Skills
                    </h5>
                    <small>
                        Sommersemester 2012
                    </small>
                </div>
                <p class="mb-1">
                    Das Seminar beinhaltete das obligatorische Bewerbungstraining — ich baute als Prüfungsleistung damals diese Webseite.
                </p>
            </div>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Software-Projekt: Lua-Interpretierer
                    </h5>
                    <small>
                        Wintersemester 2011
                    </small>
                </div>
                <p class="mb-1">
                    Entwicklung eines Lua-Interpretierers in Java mit mehreren verschiedenen Entwicklergruppen. Das Ergebnis… naja, für einen Taschenrechner hat’s gereicht.
                </p>
            </div>

            <a href="https://wedeltube.de/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Medieninformatik-Projekt: WedelTube
                    </h5>
                    <small>
                        Sommersemester 2011
                    </small>
                </div>
                <p class="mb-1">
                    Plattform für im ersten und zweiten Fachsemester produzierte Videos an der Fachhochschule Wedel, rollt auf Ruby on Rails.
                </p>
            </a>

            <a href="https://asta-wedel.de/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Assistenz beim Allgemeinen Studierendenausschuss der Fachhochschule Wedel
                    </h5>
                    <small>
                        Sommersemester 2011
                    </small>
                </div>
                <p class="mb-1">
                    Was halt so anfällt: Betreuung der Webseite mit Typo3 (nicht so lustig) und Fotografie (lustig) und hinter der Kasse stehen.
                </p>
            </a>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Programmierpraktikum: HTML-Browser
                    </h5>
                    <small>
                        Wintersemester 2010
                    </small>
                </div>
                <p class="mb-1">
                    Mit Delphi gebautes Analyse-Tool zur Untersuchung von Webseiten. Schwerpunkt waren Listen und Bäume und Parser, halt alles, was man so im dritten Semester beherrschen sollte.
                </p>
            </div>

            <a href="https://wedel-kaempft.de/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Wedel kämpft für seine Fachhochschule
                    </h5>
                    <small>
                        Sommersemester 2011
                    </small>
                </div>
                <p class="mb-1">
                    Protest-Kampagne gegen die Kürzung der finanziellen Zuschüsse des Landes Schleswig-Holstein für die Fachhochschule Wedel. Das Thema war eine Art Dauerbrenner und beschäftigte uns über mehrere Semester hinweg.
                </p>
            </a>

            <a href="https://asta-wedel.de/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Assistenz beim Allgemeinen Studierendenausschuss der Fachhochschule Wedel
                    </h5>
                    <small>
                        Sommersemester 2011
                    </small>
                </div>
                <p class="mb-1">
                    Was halt so anfällt: Betreuung der Webseite mit Typo3 (nicht so lustig) und Fotografie (lustig).
                </p>
            </a>

            <a href="https://youtu.be/jeKxE1mPCqM" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Audio-Video-Workshop: Time for a new eRa
                    </h5>
                    <small>
                        Sommersemester 2010
                    </small>
                </div>
                <p class="mb-1">
                    Werbevideo für ein Mobiltelefon mit Augensteuerung. Wir verzichteten auf reale Aufnahmen und bauten unseren Film komplett aus digitalen Elementen zusammen.
                </p>
            </a>

            <a href="https://unitedcolors.org/" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Praktikum Mediengestaltung: Entwurf eines neuen Logos für United Colors
                    </h5>
                    <small>
                        Sommersemester 2010
                    </small>
                </div>
            </a>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Programmiersprachen-Befreiungsaufgabe: Tetris
                    </h5>
                    <small>
                        Wintersemester 2009
                    </small>
                </div>
                <p class="mb-1">
                    Lösung der Befreiungsaufgabe der Programmiersprachen-1-Übung — eigentlich viel zu over-engineered: Gewohnheitsmäßig baute ich alles in einer objektorientierten Struktur zusammen, während eigentlich nur eine imperative Lösung gewünscht war.
                </p>
            </div>

            <a href="https://youtu.be/KqaZY12Hgk0" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        Audio-Video-Workshop: Sprachlos
                    </h5>
                    <small>
                        Wintersemester 2009
                    </small>
                </div>
                <p class="mb-1">
                    Unser erster Ausflug mit der Kamera im Medieninformatik-Studium: Ein stummer Gast trifft in einem Lokal auf eine alte Bekanntschaft. Wir drehten dazu in der S-Bahn, im örtlichen Schweinske und in meiner (superaufgeräumten!) Studentenbude.
                </p>
            </a>
        </div>
    </div>
</div>
{% endblock %}
