{% extends 'layout.html.twig' %}

{% block bodyContent %}
<div class="container">
    <div class="row">
        <div class="col-md-12 header" style="background-image: url(../../web/images/header/fh-wedel.jpg);">

        </div>
    </div>

    <div class="row m-t-1">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="./index.html">
                        Home
                    </a>
                </li>
                <li class="active">
                    Studium
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>
                Medieninformatik und IT-Sicherheit an der FH Wedel
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                Vom Herbst 2009 bis zum Frühjahr 2015 studierte ich Medieninformatik und IT-Sicherheit an der Fachhochschule Wedel, direkt westlich der Hansestadt Hamburg. Neben den Vorlesungen und zwischen den Semestern waren eine ganze Reihe von Aufgaben und Projekten zu bearbeiten:
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tbody>
                    <tr>
                        <td rowspan="2">
                            Wintersemester 2009
                        </td>
                        <td>
                            <h5>
                                Programmiersprachen-Befreiungsaufgabe: Tetris
                            </h5>

                            <p>
                                Objektorientierte Lösung der Befreiungsaufgabe der Programmiersprachen-1-Übung
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>
                                <a href="http://youtu.be/KqaZY12Hgk0">
                                    Audio-Video-Workshop: Sprachlos
                                </a>
                            </h5>

                            <p>
                                Ein stummer Gast trifft in einem Lokal auf eine alte Bekanntschaft
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            Sommersemester 2010
                        </td>
                        <td>
                            <h5>
                                <a href="http://youtu.be/jeKxE1mPCqM">
                                    Audio-Video-Workshop: Time for a new eRa
                                </a>
                            </h5>

                            <p>
                                Werbevideo für ein Mobiltelefon mit Augensteuerung
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>
                                Praktikum Mediengestaltung
                            </h5>

                            <p>
                                Entwurf eines neuen Logos für United Colors
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            Wintersemester 2010
                        </td>
                        <td>
                            <h5>
                                Programmierpraktikum: HTML-Browser
                            </h5>

                            <p>
                                In Delphi geschriebenes Analyse-Tool zur Untersuchung von Webseiten
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>
                                <a href="http://www.wedel-kaempft.de/">
                                    Wedel kämpft für seine Fachhochschule
                                </a>
                            </h5>

                            <p>
                                Protest-Kampagne gegen die Kürzung der finanziellen Zuschüsse des Landes Schleswig-Holstein
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">Sommersemester 2011</td>
                        <td>
                            <h5>
                                Medieninformatik-Projekt: WedelTube
                            </h5>

                            <p>
                                Plattform für im ersten und zweiten Fachsemester produzierte Videos an der Fachhochschule Wedel
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>
                                Assistenz beim Allgemeinen Studierendenausschuss der Fachhochschule Wedel
                            </h5>

                            <p>
                                Betreuung der Webseite, Fotografie
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Wintersemester 2011
                        </td>
                        <td>
                            <h5>
                                Software-Projekt: Lua-Interpretierer
                            </h5>

                            <p>
                                Entwicklung eines Lua-Interpretierers in Java
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">
                            Sommersemester 2012
                        </td>
                        <td>
                            <h5>
                                Seminarvortrag: Google Web Toolkit
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>
                                Common Purpose Leadership Class
                            </h5>

                            <p>
                                „Wie funktioniert (m)eine Stadt?“
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>
                                Seminarteilnahme: Communication Skills
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">Wintersemester 2012</td>
                        <td>
                            <a href="http://www.asta-wedel.de/">
                                <h5>
                                    AStA Wedel
                                </h5>
                            </a>

                            <p>
                                Vom Herbst 2012 war ich vier Semester lang Erster Vorsitzender der Studentenschaft an der Fachhochschule Wedel
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>
                                Audio-Workshop: Studentenleben in 5.1
                            </h5>

                            <p>
                                Für unser Abschlussprojekt des Audio-Workshops bastelten wir eine 5.1-Surround-Aufnahme eines Studenten, der sich morgens aus dem Bett durch Küche und Bad zur Uni quält.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>Sommersemester 2013</td>
                        <td>
                            <h5>
                                <a href="https://www.criticalmass.in/">
                                    Bachelor-Arbeit: criticalmass.in
                                </a>
                            </h5>

                            <p>
                                Zum Ende meines Bachelor-Studiums baue ich eine mobile Web-App für die Teilnehmer an Critical-Mass-Touren. Es hätte vermutlich kein Thema gegeben, das besser zu mir passte. Einen Sommer lang tobte ich mich mit Symfony 2 und Fahrrädern aus.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Wintersemester 2013
                        </td>
                        <td>
                            <h5>
                                <a href="https://www.criticalmass.in/">
                                    Master-Projekt: criticalmass.in
                                </a>
                            </h5>

                            <p>
                                Während unseres Master-Studiums sollen wir an einem relativ umfangreichen Projekt arbeiten. Zusammen mit zwei Kommilitonen greife ich das Thema meiner Abschlussarbeit auf und wir versuchen uns an der besten Tracking-App für Critical-Mass-Touren.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>Sommersemester 2014</td>
                        <td>
                            <h5>
                                Master-Projekt: Ping!
                            </h5>

                            <p>
                                Die technischen Beschränkungen, denen eine Web-App auf dem Smartphone unterliegt, umgehen wir mit einer „echten App“ für iOS und Android. Ping sendet während einer Critical-Mass-Tour auch im Hintergrund weiter Positionsdaten, während die Bedienung wie gewohnt über das Web-App-Frontend erfolgt.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row m-b-1">
        <div class="col-md-12">
            <footer class="text-xs-center">
                Malte Hübner &bull; <a href="impressum.html">Impressum</a> &bull; <a href="http://sqi.be/h140g">GitHub</a>
            </footer>
        </div>
    </div>
</div>
{% endblock %}
