{% extends 'layout.html.twig' %}

{% block bodyContent %}
    <div class="container">
        {% if headerImage is defined %}
        <div class="row">
            <div class="col-md-12 header" style="background-image: url(/images/header/{{ headerImage }});">

            </div>
        </div>
        {% endif %}

        {% block breadcrumbContainer %}
        {% if block('breadcrumb') %}
        <div class="row mt-1">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ path('page', { slug: 'index' }) }}">
                                Home
                            </a>
                        </li>
                        {% block breadcrumb %}{% endblock %}
                    </ol>
                </nav>
            </div>
        </div>
        {% endif %}
        {% endblock %}

        {% block pageContent %}
        {% endblock %}

        <div class="row mb-1">
            <div class="col-md-12">
                <footer class="text-center">
                    Malte Hübner &bull; <a href="{{ path('page', { slug: 'impressum' }) }}">Impressum</a> &bull; <a href="http://sqi.be/h140g">GitHub</a>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
