<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        
        <title>{% if pageTitle is defined %}{{ pageTitle }} &mdash; {% endif %}Malte Hübner</title>

        <link rel="stylesheet" href="/css/malte.min.css" />
    </head>
    <body{% if bodyId is defined %} id="{{ bodyId }}"{% endif %}>
        {% block bodyContent %}
        {% endblock %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
